h1 {
  text-align: center;
  color: #FF7373;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

p{
  text-align: center;
  font-size: 15px;
}

p1{
  text-align: center;
  font-size: 15px;
  color: #ff9900;
}

body {
  background-color:#008C8C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

<style>
a:link {
    color: white;  
    text-decoration: none;
}

a:hover {
    color: red;
}

</style>
