h1 {
  text-align: center;
  color: #CC4452;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#DAA520;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
